html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size:16px;
    text-align: justify;
    width:100%;
    text-align: center;
    background-color:#eeeff0;
}

.main-heading-1 {
	text-align:center;
	float:left;
	width:100%;
	font-weight:bold; 
	font-size:20px;
	color:Silver;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif';

}
.main-heading-2 {
	text-align:center;
	float:left;
	width:100%;
	font-weight:regular; 
	font-size:12px;
	color:#605e5d;
	color: #99a3a4 ;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif';
}


.page-text-odd, .page-text-even{
	margin:0px;
	margin-top: 10px;
	
	padding: 2px;
	width:98%;
	font-size:13px;
	color:Grey;
	line-height:1.5;
	text-align: justify;
}
.mec-logo {
	width:100%;
}


div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index:10000;
	padding-bottom: 10px;
	border-bottom-color: silver;
	border-bottom-width: 1px;
	border-bottom-style: solid;

}
.control-label {
	font-weight: normal;
	font-size: 90%;
}


.show_message {
	color: #5499c7 ;
	font-size: 90%;

}

/*
@media screen and (max-width: 780px) {
div.col-sm-2, div.col-sm-2.menu a span {
	background-color:#1f618d;
	width:40%;
	color: #dbeefb ;
	text-align: left;
	padding-left:5px;
	width:70px;
}
}*/

@media screen and (max-width: 780px) {


/*div.row div.col-sm-12 div.row div.col-sm-2.menu, div.row div.col-sm-2.menu a span{
background-color: #1f618d;
width: 150px;

}
*/

.page-heading-1{
	height:0px;
	color:red;
	display:none;

}
/*
div.col-sm-12 div.row div.col-sm-2, div.col-sm-12 div.row div.col-sm-2 span.menu a span, div.col-sm-2 span#menu a span{
	background-color: #1f618d;
	text-align: left;
	width:60%;
	color: #fff;
}
*/


div.row div.col-sm-12 div.row div.col-sm-2{
	background-color: #1f618d;
	text-align: left;
	width:60%;
	color: #fff;

}

div.row div.col-sm-2 span.menu a{
	background-color: #1f618d;
	text-align: left;
	width:60%;
	color: #fff;

}

div.row div.col-sm-12 div.row div.col-sm-2 span#menu a span{
	background-color: #1f618d;
	color:#fff;
}

div.row div.col-sm-12 div.row div.col-sm-2.current-page span.menu a,
div.row div.col-sm-12 div.row div.col-sm-2.current-page
{
background-color: #eeeff0;;
color:blue;
text-align: right;
}


}			/*   DONT DELETE End of Media Spec for mobiles */




